<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../bootstrap/bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ask</button>
            </form>

            <div class="d-flex gap-2 align-items-center">
                <div>
                    <img src="hello.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="content">
                    <div class="content__name">Dr. Pepper</div>
                    <div class="content__links">
                        <a href="#">Settings</a>
                        <a href="#">Log out</a>
                    </div>
                </div>

            </div>

        </div>
    </nav>

    <main class="container mt-2">
        <div class="row">
            <section class="col vh-100">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <h1>New Questions</h1>
                    <a href="#">Hot Questions</a>
                </div>

                <articles class="d-flex gap-3 flex-column">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div style="height: 100px;" class="border mb-2 w-100">
                                        <img src="#" alt="img" class="img-fluid">
                                    </div>
                                    <div>
                                        <input type="number" class="form-control" value="5">
                                    </div>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="#">Answers (3)</a>
                                        </div>
                                        <div class="col">
                                            <span>Tags:</span>
                                            <span class="badge rounded-pill text-bg-primary">Primary</span>
                                            <span class="badge rounded-pill text-bg-secondary">Secondary</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div style="height: 100px;" class="border mb-2 w-100">
                                        <img src="#" alt="img" class="img-fluid">
                                    </div>
                                    <div>
                                        <input type="number" class="form-control" value="5">
                                    </div>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="#">Answers (3)</a>
                                        </div>
                                        <div class="col">
                                            <span>Tags:</span>
                                            <span class="badge rounded-pill text-bg-primary">Primary</span>
                                            <span class="badge rounded-pill text-bg-secondary">Secondary</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div style="height: 100px;" class="border mb-2 w-100">
                                        <img src="#" alt="img" class="img-fluid">
                                    </div>
                                    <div>
                                        <input type="number" class="form-control" value="5">
                                    </div>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="#">Answers (3)</a>
                                        </div>
                                        <div class="col">
                                            <span>Tags:</span>
                                            <span class="badge rounded-pill text-bg-primary">Primary</span>
                                            <span class="badge rounded-pill text-bg-secondary">Secondary</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div style="height: 100px;" class="border mb-2 w-100">
                                        <img src="#" alt="img" class="img-fluid">
                                    </div>
                                    <div>
                                        <input type="number" class="form-control" value="5">
                                    </div>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="#">Answers (3)</a>
                                        </div>
                                        <div class="col">
                                            <span>Tags:</span>
                                            <span class="badge rounded-pill text-bg-primary">Primary</span>
                                            <span class="badge rounded-pill text-bg-secondary">Secondary</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </articles>
            </section>

            <aside class="col-3">

                <section class="mb-3">
                    <h3>Popular tags</h3>
                    <div>
                        <span class="badge rounded-pill text-bg-primary">Primary</span>
                        <span class="badge rounded-pill text-bg-secondary">Secondary</span>
                        <span class="badge rounded-pill text-bg-success">Success</span>
                        <span class="badge rounded-pill text-bg-danger">Danger</span>
                        <span class="badge rounded-pill text-bg-warning">Warning</span>
                        <span class="badge rounded-pill text-bg-info">Info</span>
                        <span class="badge rounded-pill text-bg-light">Light</span>
                        <span class="badge rounded-pill text-bg-dark">Dark</span>
                    </div>
                </section>

                <section>
                    <h3>Best members</h3>
                    <div>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                    </div>
                </section>

            </aside>
        </div>
    </main>
    <script src="../bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
</body>

</html>